html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

// .container {
//   width: 100% - 2 * $site-gutter;
//   max-width: $site-width;
//   margin-right: auto;
//   margin-left: auto;
// }

#canvas {
	position: absolute;
	left: 50%;
	top: 50%;
}